@using Microsoft.CodeAnalysis.CSharp
@using System.Globalization
@model List<SnpClassificationViewModel>

@{
    ViewBag.Title = "Classifications";
    Layout = "_Layout";
}

<h1>Classification Results</h1>
<div class="container mt-4">
    @foreach (var group in Model.GroupBy(x => x.ProfileId))
    {
        <div class="row mb-4 list-group-item-primary">
            <div class="col-sm-12">
                <h2>Profile Results - @group.Key</h2>
            </div>
        </div>
        @foreach (var item in group.ToList())
        {
            <div class="row mb-4 list-group-item-action">
                <div class="col-sm-6">
                    <h3>@item.Name</h3>
                </div>
                <div class="col-sm-6">
                    <p>
                        Result: <b>@item.Result</b>
                    </p>
                    <p>
                        Shared with <b>@item.PercentageShare.ToString(CultureInfo.InvariantCulture) % of other users</b>
                    </p>
                </div>

            </div>
        }
    }
</div>